* {
    box-sizing: border-box;
}

body {
    background-color: #A9A4EB;
}

.introdutory-text {
    margin: 10px;
}

.title {
    text-align: center;
    border: 5px solid #4D4B6B;
    padding: 10px;
    margin: 10px;
    background-color: #7B78AB;
}

.linksa{
    border: 5px solid #4D4B6B;
    border: 2px solid ;
    padding: 5px;
    padding-right: 35px;
    background-color: #7B78AB;
    margin: 10px;
    font-weight: bold;
}

.linksb{
    border: 5px solid #4D4B6B;
    border: 2px solid ;
    padding: 5px;
    padding-right: 39px;
    background-color: #7B78AB;
    margin: 10px;
    font-weight: bold;
}

.linksc{
    border: 5px solid #4D4B6B;
    border: 2px solid ;
    padding: 5px;
    padding-right: 16px;
    background-color: #7B78AB;
    margin: 10px;
    font-weight: bold;
}

.linksd{
    border: 5px solid #4D4B6B;
    border: 2px solid ;
    padding: 5px;
    padding-right: 2px;
    background-color: #7B78AB;
    margin: 10px;
    font-weight: bold;
}

.linkse{
    border: 5px solid #4D4B6B;
    border: 2px solid ;
    padding: 5px;
    padding-right: 16px;
    background-color: #7B78AB;
    margin: 10px;
    font-weight: bold;
}

#end {
    text-align: right;
    font-weight: bold;
}
